
<h1>Edit</h1>

<style type="text/css">
body {
  background-color: orange;
}

</style>

<div class="row">
  <form method="POST" action="/rappers/<%= rapper.id %>">
    <input type="hidden" name="_method" value="PUT">
    <div>
      <label for="name">Name</label>
      <input class="u-full-width" type="text" name="name" id="name" value="<%= rapper.name %>">
    </div>
    <div>
      <label for="image">Image</label>
      <input class="u-full-width" type="text" name="image" id="image" value="<%= rapper.image %>">
    </div>
    <div>
      <label for="trackId">Track</label>
      <input class="u-full-width" type="text" name="trackID" id="track" value="<%= rapper.track %>">
    </div>
    <div>
      <label for="caption">Caption</label>
      <textarea class="u-full-width"  type="text" name="caption"><%= rapper.caption %></textarea>
    </div>
    <button class="button-primary u-full-width">Edit</button>
  </form>
</div>
