<h1>Explore</h1>

<style type="text/css">
body {
  background-color: #F8F8FF;
    }
</style>

<div class="container">
<div class="row">
  <% rappers.forEach((rapper) => { %>
    <section class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
      <div class="row">
          <div class="hovereffect">
            <a href="/rappers/<%= rapper.id %>">
            <img class="img-responsive img-fluid" src="<%= rapper.image %>" alt="<%= rapper.name %>">
            </a>
          <div class="overlay">
          <h2><%= rapper.name %></h2>
            <p class="icon-links">
            <a href="/rappers/<%= rapper.id %>">
          <span class="fa fa-twitter">
          </span>
            </a>
            </p>
        </div>
      </div>
    </div>
  </section>
  <% }); %>
</div>
</div>
