
<main class="container">
  <div class="row">
    <div class="col-6">
      <h2><%= rapper.name %></h2>
      <h3>
        <img src="<%= rapper.image %>" class="img-fluid rounded-circle" alt="<%= rapper.name %>">
      </h3>
              <form method="POST" action="/rappers/<%= rapper.id %>/tracks">
            <% rapper.tracks.forEach((track) => { %>
              <h4><a href="/rappers/<%= rapper.id %>/tracks/<%= track.id %>">View track</a></h4>
              <iframe class="embed-responsive-1by1" src="https://www.youtube.com/embed/<%= track.trackId %>" alt="<%= track.trackId %>"></iframe>
            <% }) %>
            <div class="form-group">
              <label for="trackId">Track URL <br> (add the string of characters after the "=" sign in the youtube url)</label>
              <input class="u-full-width" type="text" id="trackId" name="trackId">
            </div>
            <div class="form-group">
              <label for="caption">Caption</label>
              <input class="u-full-width" type="text" id="trackId" name="caption">
            </div>
            <button class="button-primary u-full-width">Create</button>
          </form>
    </div>
  </div>


</main>
