
<main class="container">
  <div class="row">
    <div class="col-9">
      <h2><%= rapper.name %></h2>

      <img src="<%= rapper.image %>" alt="<%= rapper.name %>">
        <h3>Created by: <%= rapper.createdBy.username %></h3>
    </div>
  </div>

  <% if(locals.isLoggedIn && rapper.belongsTo(user)) { %>
<a href="/rappers/<%= rapper.id %>/edit">Edit</a>
<form method="POST" action="/rappers/<%= rapper.id %>">
  <input t≈ype="hidden" name="_method" value="DELETE">
  <button>Delete</button>
</form>
<% } %>

    <% rapper.comments.forEach((comment) => { %>
      <p><%= comment.content %></p>
      <small><%= comment.createdBy.username %></small>

      <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
        <form method="POST" action="/rappers/<%= rapper.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button>Delete</button>
        </form>
      <% } %>
    <% }) %>

    <% if(locals.isLoggedIn) { %>
      <section>
        <h4>Leave a comment</h4>
        <form method="POST" action="/rappers/<%= rapper.id %>/comments">
          <textarea name="content" id="content" placeholder="Comment"></textarea>
          <button class="button">Leave a comment</button>
        </form>
      </section>
    <% } %>
</main>
