<main class="container">
  <div class="row">
    <div class="col-6">
      <h2><%= rapper.name %></h2>
      <h3>
        <img src="<%= rapper.image %>" class="img-fluid rounded-circle" alt="<%= rapper.name %>">
      </h3>
      <br>
    </div>
  </div>
  <div class="row">
    <form method="POST" action="/rappers/<%= rapper.id %>/tracks">
      <div>
        <label for="trackId">Track</label>
        <input class="u-full-width" type="text" id="trackId" name="trackId">
      </div>
      <div>
        <label for="caption">Caption</label>
        <textarea class="u-full-width" name="caption"></textarea>
      </div>
      <button class="button-primary u-full-width">Create</button>
    </form>
  </div>

  <% rapper.tracks.forEach((track) => { %>
    <a href="/rappers/<%= rapper.id %>/tracks/<%= track.id %>">View Track</a>
    <iframe class="embed-responsive-item" src="<%= track.trackId %>" alt="<%= rapper.name %>"></iframe>
  <% }) %>
</main>
