  <h1>Your Profile</h1>

  <main class="container">

<% rappers.forEach((rapper) => { %>
  <% if(rapper.createdBy) { %>
<% if(rapper.belongsTo(user)) { %>
  <div class="row">
    <div class="col-6">
        <h2><%= rapper.name %></h2>
         <img src="<%= rapper.image %>" class="img-fluid rounded-circle" alt="<%= rapper.name %>">
      <br>
      <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="<%= rapper.track %>" alt="<% rapper.name %>"></iframe>
      </div>
      <h3><a href="/rappers/<%= rapper.id %>"><h3><%= rapper.createdBy.username %></h3></a>
    </div>
  </div>

  <button>
  <a href="/rappers/<%= rapper.id %>/edit">Edit</a>
  </button>
  <br>
  <form method="POST" action="/rappers/<%= rapper.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <button>Delete</button>
  </form>
<% rapper.tracks.forEach((track) => { %>
      <% track.comments.forEach((comment) => { %>
        <small><%= comment.createdBy.username %></small>
        <p><%= comment.content %></p>

        <% if(comment.belongsTo(user)) { %>
          <form method="POST" action="/rappers/<%= rapper.id %>/comments/<%= comment.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger btn-sm">Delete comment</button>
          </form>
        <% } %>
      <% }) %>


      <% }) %>
      <section>
        <h4>Leave a comment</h4>
        <form method="POST" action="/rappers/<%= rapper.id %>/comments">
          <textarea name="content" id="content" placeholder="Comment"></textarea>
          <br>
          <button class="btn btn-primary btn-sml">Leave a comment</button>
        </form>
      </section>
      <% } %>
<% } %>
<% }) %>
</main>
