<style type="text/css">

h1 {
  font-size: 30px;
}

h2 {
  color: black;
}

container {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 13px;
  padding-left: 15px;
}

</style>
      <h3><%= track.createdBy.username %>:</h3>
      <p><%= track.caption %></p>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= track.trackId %>" allowfullscreen alt="<%= track.trackId %>"</iframe>
      </div>

                <div class="row">
                  <div class="blue col-md-6 offset-md-3">
                  <div class="contrainer">
                      <% track.comments.forEach(comment => { %>
                        <h4 class="media-heading user_name"><p><%= comment.createdBy.username %></p></h4>
                        <p><%= comment.content %></p>
                        <% }) %>
                        <form method="POST" action="/rappers/<%= rapper.id %>/tracks/<%= track.id %>/comments">
                        <textarea name="content" id="content" placeholder="Comment"></textarea>
                        <br>
                        <small class="pull-right"><button class="btn btn-primary btn-sml">Leave a comment</small></button>
                        </form>

                        <div class="media">
                        <% track.comments.forEach(comment => { %>
                          <% if(comment.belongsTo(user)) { %>
                        <div class="media-body">
                        <form method="POST" action="/rappers/<%= rapper.id %>/tracks/<%= track.id %>/comments/<%= comment.id %>">
                        <input type="hidden" name="_method" value="DELETE">
                        <p class="pull-right"><small><button class="btn btn-danger btn-sm">Delete comment</button></small></p>
                        </form>
                        <% } %>
                        <% }) %>
                      </div>
                    </div>
              </div>
            </div>
            </div>
